.channel-members .member .member-activity strong,
.user-popout .username-wrapper .activity {
    font-weight: 700;
    color: #7289DA
    
}

.channel-members .member .member-activity {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #42A5F5;
}
